
img.background
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	margin-left:auto;
	margin-right:auto;
	z-index: -4;
}

body
{
	overflow: hidden;
}

div.textArea-concept, div.textArea-program, div.textArea-information, div.textArea-gallery, div.textArea-tickets, div.textArea-edition
{
	position: absolute;
	margin-left:10%;
	margin-top:4%;
	width:85%; 
	height:500px;
	opacity:0;
	filter: alpha(opacity=0);
	transition: all 1s ease-in-out;
}

@font-face {
    font-family: "Title Custom Font";
    src: url(../fonts/New_Vera.otf) format("truetype");
}

h3.titulo-concept, h3.titulo-program, h3.titulo-information, h3.titulo-gallery, h3.titulo-tickets, h3.titulo-edition
{
	position: absolute;
	font-family: "Title Custom Font", Verdana, Tahoma;
	margin-top: 0%;
	margin-left:48%;
	margin-left:48%;
	color: white;
	font-size: 250%;
	text-align: center;
	transition: all 1s ease-in-out;
}

@font-face2 {
    font-family: "Text Custom Font";
    src: url(../fonts/New_Vera.otf) format("truetype");
}

p.texto
{
	font-family: "Text Custom Font", Verdana, Tahoma;
	color: white;
	font-size: 120%;
	transition: all 1s ease-in-out;
}

div.textToLeft
{
	left: -200%;
	opacity:0;
	filter: alpha(opacity=0);
}
h3.textToLeft
{
	margin-left: -200%;
	opacity:0;
	filter: alpha(opacity=0);
}

div.textToCenter
{
	left: 0%;
	opacity:100;
	filter: alpha(opacity=1);
}

h3.textToCenter
{
	margin-left: 48%;
	opacity:100;
	filter: alpha(opacity=1);
}

div.textToRight
{
	left: 200%;
	opacity:0;
	filter: alpha(opacity=0);
}

h3.textToRight
{
	margin-left: 200%;
	opacity:0;
	filter: alpha(opacity=0);
}

img.mandala
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	margin-left:auto;
	margin-right:auto;
	z-index: -1;
	transition: all 1.5s ease-in-out;
}
.grow
{
	transform: scale(2);
	opacity: 0;
	filter: alpha(opacity=0);
}

.turnTransparent
{
	opacity: 0;
	filter: alpha(opacity=0);
}

img.arvore
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	margin-left:auto;
	margin-right:auto;
	z-index: -2;
	transition: all 1.5s ease-in-out;
}

.divMenu
{
	text-align: center;
	max-height:12.01%;
}

ul {
    list-style-type: none;
    overflow: hidden;
	display:inline-block;
	list-style:none outside none;
	margin:auto auto;
	padding:0;
	z-index:-3;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */  
	max-height:12.01%;
	text-align: center;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	max-height:12.01%;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

img.separador
{
	display:inline-block;
	background-position: center;
}

/******************************************************
********* Concept Symbols and Hover *******************
******************************************************/

img.concept
{
	background: url('../img/menu/Concept.png');
	max-width:17,85%;
	background-size: contain;
}

img.concept:hover, img.conceptHover, img.concept-active
{
	background: url('../img/menu/ConceptHover.png');
	max-height:12,01%;
	max-width:17,85%;
	background-size: contain;
}

div.conceptSymbol
{
	background: url('../img/symbols/ConceptSymbol.png') no-repeat;
	position: absolute;
	top: 40.96%;
	left: 10.24%;
	width: 13.59%;
	height: 26.34%;
	transition: background 0.3s ease-in-out;
	transition: opacity 1s, filter 1s, top 1s, left 1s ease-in-out;
	-webkit-transition: background 0.3s ease-in-out;
	-webkit-transition: opacity 1s, filter 1s, top 1s, left 1s ease-in-out;
	background-size: contain;
}

div.conceptSymbol:hover, div.conceptSymbolHover
{
	background: url('../img/symbols/ConceptSymbolHover.png') no-repeat;
	background-size: contain;
}

/******************************************************
********* Edition Symbols and Hover *******************
******************************************************/

img.edition
{
	background: url('../img/menu/Edition.png');
	background-size: contain;
}

img.edition:hover, img.editionHover, img.edition-active
{
	background: url('../img/menu/EditionHover.png');
	background-size: contain;
}

div.editionSymbol
{
	background: url('../img/symbols/EditionSymbol.png') no-repeat;
	position: absolute;
	top: 24.12%;
	left: 16.98%;
	width: 13.59%;
	height: 26.34%;
	transition: background 0.3s ease-in-out;
	transition: opacity 1s, filter 1s, top 1s, left 1s ease-in-out;
	-webkit-transition: background 0.3s ease-in-out;
	-webkit-transition: opacity 1s, filter 1s, top 1s, left 1s ease-in-out;
	background-size: contain;
}

div.editionSymbol:hover, div.editionSymbolHover
{
	background: url('../img/symbols/EditionSymbolHover.png') no-repeat;
	background-size: contain;
}

/******************************************************
********* Gallery Symbols and Hover *******************
******************************************************/

img.gallery
{
	background: url('../img/menu/Gallery.png');
	background-size: contain;
}

img.gallery:hover, img.galleryHover, img.gallery-active
{
	background: url('../img/menu/GalleryHover.png');
	background-size: contain;
}

div.gallerySymbol
{
	background: url('../img/symbols/GallerySymbol.png') no-repeat;
	position: absolute;
	top: 11.05%;
	left: 26.04%;
	width: 13.59%;
	height: 26.34%;
	transition: background 0.3s ease-in-out;
	transition: opacity 1s, filter 1s, top 1s, left 1s ease-in-out;
	-webkit-transition: background 0.3s ease-in-out;
	-webkit-transition: opacity 1s, filter 1s, top 1s, left 1s ease-in-out;
	background-size: contain;
}

div.gallerySymbol:hover, div.gallerySymbolHover
{
	background: url('../img/symbols/GallerySymbolHover.png') no-repeat;
	background-size: contain;
}

/******************************************************
********* Information Symbols and Hover ***************
******************************************************/

img.information
{
	background: url('../img/menu/Information.png');
	background-size: contain;
	/*width: 19.47%;*/
}

img.information:hover, img.informationHover, img.information-active
{
	background: url('../img/menu/InformationHover.png');
	background-size: contain;
	/*width: 19.47%;*/
}

div.informationSymbol
{
	background: url('../img/symbols/InformationSymbol.png') no-repeat;
	position: absolute;
	top: 11.05%;
	left: 60.10%;
	width: 13.59%;
	height: 26.34%;
	transition: background 0.3s ease-in-out;
	transition: opacity 1s, filter 1s, top 1s, left 1s ease-in-out;
	-webkit-transition: background 0.3s ease-in-out;
	-webkit-transition: opacity 1s, filter 1s, top 1s, left 1s ease-in-out;
	background-size: contain;
}

div.informationSymbol:hover, div.informationSymbolHover
{
	background: url('../img/symbols/InformationSymbolHover.png') no-repeat;
	background-size: contain;
}

/******************************************************
********* Program Symbols and Hover *******************
******************************************************/

img.program
{
	background: url('../img/menu/Program.png');
	background-size: contain;
}

img.program:hover, img.programHover, img.program-active
{
	background: url('../img/menu/ProgramHover.png');
	background-size: contain;
}

div.programSymbol
{
	background: url('../img/symbols/ProgramSymbol.png') no-repeat;
	position: absolute;
	top: 24.12%;
	left: 69.01%;
	width: 13.59%;
	height: 26.34%;
	transition: background 0.3s ease-in-out;
	transition: opacity 1s, filter 1s, top 1s, left 1s ease-in-out;
	background-size: contain;
}

div.programSymbol:hover, div.programSymbolHover
{
	background: url('../img/symbols/ProgramSymbolHover.png') no-repeat;
	background-size: contain;
}

/******************************************************
********* Tickets Symbols and Hover *******************
******************************************************/

img.tickets
{
	background: url('../img/menu/Tickets.png');
	background-size: contain;
}

img.tickets:hover, img.ticketsHover, img.tickets-active
{
	background: url('../img/menu/TicketsHover.png');
	background-size: contain;
}

div.ticketsSymbol
{
	background: url('../img/symbols/TicketsSymbol.png') no-repeat;
	position: absolute;
	top: 40.96%;
	left: 75.57%;
	width: 13.59%;
	height: 26.34%;
	transition: background 0.3s ease-in-out;
	transition: opacity 1s, filter 1s, top 1s, left 1s ease-in-out;
	background-size: contain;
}

div.ticketsSymbol:hover, div.ticketsSymbolHover
{
	background: url('../img/symbols/TicketsSymbolHover.png') no-repeat;
	background-size: contain;
}


div.goCenter
{
	opacity: 0;
	filter: alpha(opacity=0);
	top: 43.5%;
	left: 43.5%;
}
div.goLeft
{
	opacity: 0;
	filter: alpha(opacity=0);
	top: -20.5%;
	left: -20.5%;
}


div.goRight
{
	opacity: 0;
	filter: alpha(opacity=0);
	top: -20.5%;
	left: 120.5%;
}