img.background
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	margin-left:auto;
	margin-right:auto;
	z-index: -4;
}

body
{
	overflow: hidden;
}

@font-face {
    font-family: "Title Custom Font";
    src: url(../fonts/New_Vera.otf) format("truetype");
}

@font-face2 {
    font-family: "Text Custom Font";
    src: url(../fonts/olney_light.otf) format("truetype");
}

div.titleDiv
{
	position: fixed;
	width: 70%;
	margin-left:15%;
	height: 5%;
	text-align: center;
	transition: all 1s ease-in-out;
}

div.blackShadow
{
	position: absolute;
	margin-left:13%;
	background-image:url(../img/blackShadow.png);
	width:72%;
	opacity:0;
	filter: alpha(opacity=0);
	transition: all 1s ease-in-out;
	z-index:-3;
}

h3.titulo-concept, h3.titulo-program, h3.titulo-information, h3.titulo-gallery, h3.titulo-tickets, h3.titulo-location
, h3.titulo-dancefloor, h3.titulo-chillout, h3.titulo-goa, h3.titulo-zenbuspace, h3.titulo-zambukids, h3.titulo-useful
, h3.titulo-parkingCamping, h3.titulo-afterparty, h3.titulo-participation, h3.titulo-history
{
	font-family: "Title Custom Font", Verdana, Tahoma;
	color: white;
	font-size: 250%;
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/* display: block; */
	font-size: auto;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
	margin-block-start: 0px;
	margin-block-end: 0px;
}

h3.titulo
{
	font-family: "Title Custom Font", Verdana, Tahoma;
	color: white;
	font-size: 150%;
	text-align: center;
	bottom: 0%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/* display: block; */
	font-size: auto;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
	margin-block-start: 0px;
	margin-block-end: 0px;
	padding-top: 168px;
}

div.textArea-concept, div.textArea-program, div.textArea-information, div.textArea-gallery, div.textArea-tickets, div.textArea-location
, div.textArea-dancefloor, div.textArea-chillout, div.textArea-goa, div.textArea-zenbuspace, div.textArea-zambukids, div.textArea-useful
, div.textArea-parkingCamping, div.textArea-afterparty, div.textArea-history, div.textArea-participation
{
	position: absolute;
	margin-left:15%;
	width:70%; 
	height:400px;
	opacity:0;
	filter: alpha(opacity=0);
	transition: all 1s ease-in-out;
}

p.texto
{
	font-family: "Text Custom Font", Verdana, Tahoma;
	color: white;
	width: 98%;
	font-size: 90%;
	transition: all 1s ease-in-out;
	text-align: justify;
    text-justify: inter-word;
	line-height: 150%;
}

p.textoBold
{
	font-family: "Text Custom Font", Verdana, Tahoma;
	color: white;
	font-weight: bold;
	font-size: 95%;
	width: 98%;
	transition: all 1s ease-in-out;
	text-align: justify;
    text-justify: inter-word;
	line-height: 150%;
}

div.textToLeft
{
	left: -200%;
	opacity:0;
	filter: alpha(opacity=0);
}

div.textToCenter
{
	left: 0%;
	opacity:100;
	filter: alpha(opacity=1);
}

div.textToRight
{
	left: 200%;
	opacity:0;
	filter: alpha(opacity=0);
}

img.mandala
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	margin-left:auto;
	margin-right:auto;
	z-index: -1;
	transition: all 1.5s ease-in-out;
}

.grow
{
	transform: scale(1.3);
	opacity: 0;
	filter: alpha(opacity=0);
}

.turnTransparent
{
	opacity: 0;
	filter: alpha(opacity=0);
	
	transition: opacity 1.5s, filter 1.5s, top 1.5s, left 1.5s ease-in-out;
	-webkit-transition: opacity 1.5s, filter 1.5s, top 1.5s, left 1.5s ease-in-out;
}

img.arvore
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	margin-left:auto;
	margin-right:auto;
	z-index: -2;
	transition: all 1.5s ease-in-out;
}

div.divMenu
{
	position: fixed;
	text-align: center;
    top: 0px;
	
}

ul.menuPrincipal
{
	list-style:none outside none;
    list-style-type: none;
	display:inline-block;
    margin: 0 auto;
	padding-inline-start: 0px;
	
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */  
}

div.divMenuSocial
{
	position:fixed;
	left:0px;
	bottom:0px;
	text-align: center;
	width: 100%;
	list-style-type: none;
}

ul.socialMenu
{
	width:35%;
	height:40px;
	display: inline-block;
	list-style: none outside none;
	text-align: center;
	list-style-type: none;
	
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */  
}

div.facebook
{
	height: 40px;
	width: 40px;
	padding-right:15px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("../img/social/facebook.png");
}

div.youtube
{
	height: 40px;
	width: 40px;
	padding-right:15px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("../img/social/youtube.png");
}

div.facebook:hover
{
	height: 40px;
	width: 40px;
	background-image: url("../img/social/facebookHover.png");
	background-repeat: no-repeat;
}

div.youtube:hover
{
	height: 40px;
	width: 40px;
	background-image: url("../img/social/youtubeHover.png");
	background-repeat: no-repeat;
}

div.socialText
{
	height: 40px;
	width: 240px;
	background-size: contain;
	background-image: url("../img/social/socialText.png");
	background-repeat: no-repeat;
}

div.divMenu li {
    float: left;
	max-height:10.01%;
	list-style-type: none;
	background-size: contain;
}

div.divProgram li {
    float: left;
	max-height:10.01%;
	list-style-type: none;
	background-size: contain;
}

div.divMenuSocial li {
    float: left;
	height: 40px;
	list-style-type: none;
	background-size: contain;
}

div.dataText
{
	background: url('../img/social/dataText.png') no-repeat;
	position: absolute;
	bottom: 0px;
	left: 20%;
	width: 175px;
	height: 65px;
	transition: opacity 1.5s, filter 1.5s, top 1.5s, left 1.5s, width 1.5s, height 1.5s ease-in-out;
	-webkit-transition: opacity 1.5s, filter 1.5s, top 1.5s, left 1.5s, width 1.5s, height 1.5s ease-in-out;
	background-size: contain;
}

div.localText
{
	background: url('../img/social/localText.png') no-repeat;
	position: absolute;
	bottom:0px;
	right: 20%;
	width: 175px;
	height: 65px;
	transition: opacity 1.5s, filter 1.5s, top 1.5s, left 1.5s, width 1.5s, height 1.5s ease-in-out;
	-webkit-transition: opacity 1.5s, filter 1.5s, top 1.5s, left 1.5s, width 1.5s, height 1.5s ease-in-out;
	background-size: contain;
}


/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

/******************************************************
********* Concept Symbols and Hover *******************
******************************************************/



div.conceptSymbol
{
	background: url('../img/symbols/ConceptSymbol.png') no-repeat;
	position: absolute;
	top: 40.96%;
	left: 10.24%;
	width: 13.59%;
	height: 26.34%;
	transition: background 0.3s ease-in-out;
	transition: opacity 1.5s, filter 1.5s, top 1.5s, left 1.5s ease-in-out;
	-webkit-transition: background 0.3s ease-in-out;
	-webkit-transition: opacity 1.5s, filter 1.5s, top 1.5s, left 1.5s ease-in-out;
	background-size: contain;
	cursor:pointer;
}

div.conceptSymbol:hover, div.conceptSymbolHover
{
	background: url('../img/symbols/ConceptSymbolHover.png') no-repeat;
	background-size: contain;
}

/******************************************************
********* Edition Symbols and Hover *******************
******************************************************/

div.locationSymbol
{
	background: url('../img/symbols/LocationSymbol.png') no-repeat;
	position: absolute;
	top: 11.05%;
	left: 26.04%;
	width: 13.59%;
	height: 26.34%;
	transition: background 0.3s ease-in-out;
	transition: opacity 1.5s, filter 1.5s, top 1.5s, left 1.5s ease-in-out;
	-webkit-transition: background 0.3s ease-in-out;
	-webkit-transition: opacity 1.5s, filter 1.5s, top 1.5s, left 1.5s ease-in-out;
	background-size: contain;
	cursor:pointer;
}

div.locationSymbol:hover, div.locationSymbolHover
{
	background: url('../img/symbols/LocationSymbolHover.png') no-repeat;
	background-size: contain;
}

/******************************************************
********* Gallery Symbols and Hover *******************
******************************************************/

div.gallerySymbol
{
	background: url('../img/symbols/GallerySymbol.png') no-repeat;
	position: absolute;
	top: 24.12%;
	left: 69.01%;
	width: 13.59%;
	height: 26.34%;
	transition: background 0.3s ease-in-out;
	transition: opacity 1.5s, filter 1.5s, top 1.5s, left 1.5s ease-in-out;
	-webkit-transition: background 0.3s ease-in-out;
	-webkit-transition: opacity 1.5s, filter 1.5s, top 1.5s, left 1.5s ease-in-out;
	background-size: contain;
	cursor:pointer;
}

div.gallerySymbol:hover, div.gallerySymbolHover
{
	background: url('../img/symbols/GallerySymbolHover.png') no-repeat;
	background-size: contain;
}

/******************************************************
********* Information Symbols and Hover ***************
******************************************************/

div.informationSymbol
{
	background: url('../img/symbols/InformationSymbol.png') no-repeat;
	position: absolute;
	top: 11.05%;
	left: 60.10%;
	width: 13.59%;
	height: 26.34%;
	transition: background 0.3s ease-in-out;
	transition: opacity 1.5s, filter 1.5s, top 1.5s, left 1.5s ease-in-out;
	-webkit-transition: background 0.3s ease-in-out;
	-webkit-transition: opacity 1.5s, filter 1.5s, top 1.5s, left 1.5s ease-in-out;
	background-size: contain;
	cursor:pointer;
}

div.informationSymbol:hover, div.informationSymbolHover
{
	background: url('../img/symbols/InformationSymbolHover.png') no-repeat;
	background-size: contain;
}

/******************************************************
********* Program Symbols and Hover *******************
******************************************************/

div.programSymbol
{
	background: url('../img/symbols/ProgramSymbol.png') no-repeat;
	position: absolute;
	top: 24.12%;
	left: 16.98%;
	width: 13.59%;
	height: 26.34%;
	transition: background 0.3s ease-in-out;
	transition: opacity 1.5s, filter 1.5s, top 1.5s, left 1.5s ease-in-out;
	-webkit-transition: background 0.3s ease-in-out;
	-webkit-transition: opacity 1.5s, filter 1.5s, top 1.5s, left 1.5s ease-in-out;
	background-size: contain;
	cursor:pointer;
}

div.programSymbol:hover, div.programSymbolHover
{
	background: url('../img/symbols/ProgramSymbolHover.png') no-repeat;
	background-size: contain;
}

/******************************************************
********* Tickets Symbols and Hover *******************
******************************************************/

div.ticketsSymbol
{
	background: url('../img/symbols/TicketsSymbol.png') no-repeat;
	position: absolute;
	top: 40.96%;
	left: 75.57%;
	width: 13.59%;
	height: 26.34%;
	transition: background 0.3s ease-in-out;
	transition: opacity 1.5s, filter 1.5s, top 1.5s, left 1.5s ease-in-out;
	-webkit-transition: background 0.3s ease-in-out;
	-webkit-transition: opacity 1.5s, filter 1.5s, top 1.5s, left 1.5s ease-in-out;
	background-size: contain;
	cursor:pointer;
}

div.ticketsSymbol:hover, div.ticketsSymbolHover
{
	background: url('../img/symbols/TicketsSymbolHover.png') no-repeat;
	background-size: contain;
}

div.sunSymbol
{
	background: url('../img/symbols/SunSymbol.png') no-repeat;
	position: absolute;
	bottom: 2.96%;
	left: 6.24%;
	width: 38.88%;
	height: 31.95%;
	transition: all 1.5s ease-in-out;
	-webkit-transition: all 1.5s ease-in-out;
	background-size: contain;
}

div.moonSymbol
{
	background: url('../img/symbols/MoonSymbol.png') no-repeat;
	position: absolute;
	bottom: 2.96%;
	left: 76.57%;
	width: 38.88%;
	height: 31.95%;
	transition: all 1.5s ease-in-out;
	-webkit-transition: all 1.5s ease-in-out;
	background-size: contain;
}

div.goCenter
{
	opacity: 0;
	filter: alpha(opacity=0);
	top: 43.5%;
	left: 43.5%;
}

div.goLeft
{
	opacity: 0;
	filter: alpha(opacity=0);
	top: -20.5%;
	left: -20.5%;
}

div.goRight
{
	opacity: 0;
	filter: alpha(opacity=0);
	top: -20.5%;
	left: 120.5%;
}

div.goDownLeft
{
	opacity: 0;
	filter: alpha(opacity=0);
	bottom: -20.5%;
	left: -20.5%;
}

div.goDownRight
{
	opacity: 0;
	filter: alpha(opacity=0);
	bottom: -20.5%;
	left: 120.5%;
}

div.Stage
{
	height:200px;
	width:400px;
	background-color:green;
	cursor:pointer;
	transition: opacity 1s ease-in-out;
	margin-bottom: 20px;
}

div.StageRight
{
	float:right;
	margin-right: 25px;
	margin-bottom: 20px;
}

div.StageImage
{
	height:75%;
	width:98%;
	background-color:green;
	margin-bottom: 10px;
	transition: opacity 1s ease-in-out;
}

p.StageName
{
	font-family: "Title Custom Font", Verdana, Tahoma;
	color: white;
	font-size: 200%;
	text-align: center;
	width: 35%;
	margin-bottom: 40px;
	cursor:pointer;
}

p.NameRight
{
	float:right;
}

div.znaSymbol
{
	background: url('../img/menu/znaLogo.png') no-repeat;
	position: absolute;
	top: 16.50%;
	left: 42%;
	width: 17.7%;
	height: 21.46%;
	transition: opacity 1.5s, filter 1.5s, top 1.5s, left 1.5s, width 1.5s, height 1.5s ease-in-out;
	-webkit-transition: opacity 1.5s, filter 1.5s, top 1.5s, left 1.5s, width 1.5s, height 1.5s ease-in-out;
	background-size: contain;
}

div.chillout{
	background: url('../img/program/chillout.png') no-repeat;
}

div.chillout:hover{
	background: url('../img/program/chilloutHover.png') no-repeat;
}

div.dancefloor {
	background: url('../img/program/dancefloor.png') no-repeat;
}

div.dancefloor:hover{
	background: url('../img/program/dancefloorHover.png') no-repeat;
}

div.goa{
	background: url('../img/program/goa.png') no-repeat;
}

div.goa:hover{
	background: url('../img/program/goaHover.png') no-repeat;
}

div.zambukids{
	background: url('../img/program/zambukids.png') no-repeat;
}

div.zambukids:hover{
	background: url('../img/program/zambukidsHover.png') no-repeat;
}

div.zenbuspace {
	background: url('../img/program/zenbuspace.png') no-repeat;
}

div.zenbuspace:hover {
	background: url('../img/program/zenbuspaceHover.png') no-repeat;
}

div.afterparty{
	background: url('../img/program/afterparty.png') no-repeat;
}

div.afterparty:hover{
	background: url('../img/program/afterpartyHover.png') no-repeat;
}

div.chilloutBig{
	background: url('../img/program/big/chillout.png') no-repeat;
}

div.dancefloorBig{
	background: url('../img/program/big/dancefloor.png') no-repeat;
}

div.goaBig{
	background: url('../img/program/big/goa.png') no-repeat;
}

div.zambukidsBig{
	background: url('../img/program/big/zambukids.png') no-repeat;
}

div.zenbuspaceBig {
	background: url('../img/program/big/zenbuspace.png') no-repeat;
}

div.afterpartyBig{
	background: url('../img/program/big/afterparty.png') no-repeat;
}

div.parkingCamping{
	background: url('../img/information/parkingCamping.png') no-repeat;
}

div.parkingCamping:hover{
	background: url('../img/information/parkingCampingHover.png') no-repeat;
}

div.useful{
	background: url('../img/information/useful.png') no-repeat;
}

div.useful:hover{
	background: url('../img/information/usefulHover.png') no-repeat;
}

div.history {
	background: url('../img/information/history.png') no-repeat;
}

div.history:hover {
	background: url('../img/information/historyHover.png') no-repeat;
}

div.participation{
	background: url('../img/information/participation.png') no-repeat;
}

div.participation:hover{
	background: url('../img/information/participationHover.png') no-repeat;
}

div.parkingCampingBig{
	background: url('../img/information/big/parkingCamping.png') no-repeat;
}

div.usefulBig{
	background: url('../img/information/big/useful.png') no-repeat;
}

div.historyBig {
	background: url('../img/information/big/history.png') no-repeat;
}

div.participationBig{
	background: url('../img/information/big/participation.png') no-repeat;
}

@media screen and (min-width: 1600px) {   
	div.separador
	{
		background-image: url('../img/menu/separador.png');
		display:inline-block;
		background-position: center;
		height: 94px;
		width: 6px;
		background-repeat: no-repeat;
	}
	
    div.concept
	{
		background-image: url('../img/menu/concept.png');
		max-width:17,85%;
		background-size: contain;
		cursor:pointer;
		height: 94px;
		width: 183px;
		background-repeat: no-repeat;
	}

	div.concept:hover, div.conceptHover, div.concept-active
	{
		background-image: url('../img/menu/conceptHover.png');
		max-height:12,01%;
		max-width:17,85%;
		background-size: contain;
		height: 94px;
		width: 183px;
		background-repeat: no-repeat;
	}

	div.program
	{
		background-image: url('../img/menu/program.png');
		background-size: contain;
		cursor:pointer;
		height: 94px;
		width: 202px;
		background-repeat: no-repeat;
	}

	div.program:hover, div.programHover, div.program-active
	{
		background-image: url('../img/menu/programHover.png');
		background-size: contain;
		height: 94px;
		width: 202px;
		background-repeat: no-repeat;
	}
	
	div.location
	{
		background-image: url('../img/menu/location.png');
		background-size: contain;
		cursor:pointer;
		height: 94px;
		width: 204px;
		background-repeat: no-repeat;
	}

	div.location:hover, div.locationHover, div.location-active
	{
		background-image: url('../img/menu/locationHover.png');
		background-size: contain;
		height: 94px;
		width: 204px;
		background-repeat: no-repeat;
	}

	div.information
	{
		background-image: url('../img/menu/information.png');
		background-size: contain;
		cursor:pointer;
		height: 94px;
		width: 260px;
		background-repeat: no-repeat;
		/*width: 19.47%;*/
	}

	div.information:hover, div.informationHover, div.information-active
	{
		background-image: url('../img/menu/informationHover.png');
		background-size: contain;
		height: 94px;
		width: 260px;
		background-repeat: no-repeat;
		/*width: 19.47%;*/
	}

	div.gallery
	{
		background-image: url('../img/menu/gallery.png');
		background-size: contain;
		cursor:pointer;
		height: 94px;
		width: 180px;
		background-repeat: no-repeat;
	}

	div.gallery:hover, div.galleryHover, div.gallery-active
	{
		background-image: url('../img/menu/galleryHover.png');
		background-size: contain;
		height: 94px;
		width: 180px;
		background-repeat: no-repeat;
	}

	div.tickets
	{
		background-image: url('../img/menu/tickets.png');
		background-size: contain;
		cursor:pointer;
		height: 94px;
		width: 164px;
		background-repeat: no-repeat;
	}

	div.tickets:hover, div.ticketsHover, div.tickets-active
	{
		background-image: url('../img/menu/ticketsHover.png');
		background-size: contain;
		height: 94px;
		width: 164px;
		background-repeat: no-repeat;
	}

	div.countdown
	{
		font-family: "Text Custom Font", Verdana, Tahoma;
		color: #46ff03;
		font-weight: bold;
		font-size: 1.3vw;
		background-size: contain;
		margin-top: 31px;
		height: 94px;
		width: 194px;
		background-repeat: no-repeat;
		transition: all 1s ease-in-out;
	}	
	
	div.turnToZNALogo
	{
		cursor:pointer;
		height: 94px;
		width: 174px;
	}
}  
@media screen and (min-width: 1440px) and (max-width: 1599px) { 
	div.separador
	{
		background-image: url('../img/menu/separador.png');
		display:inline-block;
		background-position: center;
		height: 75px;
		width: 6px;
		background-repeat: no-repeat;
	}
	
    div.concept
	{
		background-image: url('../img/menu/concept.png');
		max-width:17,85%;
		background-size: contain;
		cursor:pointer;
		height: 75px;
		width: 146px;
		background-repeat: no-repeat;
	}

	div.concept:hover, div.conceptHover, div.concept-active
	{
		background-image: url('../img/menu/conceptHover.png');
		max-height:12,01%;
		max-width:17,85%;
		background-size: contain;
		height: 75px;
		width: 146px;
		background-repeat: no-repeat;
	}

	div.program
	{
		background-image: url('../img/menu/program.png');
		background-size: contain;
		cursor:pointer;
		height: 75px;
		width: 162px;
		background-repeat: no-repeat;
	}

	div.program:hover, div.programHover, div.program-active
	{
		background-image: url('../img/menu/programHover.png');
		background-size: contain;
		height: 75px;
		width: 162px;
		background-repeat: no-repeat;
	}
	
	div.location
	{
		background-image: url('../img/menu/location.png');
		background-size: contain;
		cursor:pointer;
		height: 75px;
		width: 163px;
		background-repeat: no-repeat;
	}

	div.location:hover, div.locationHover, div.location-active
	{
		background-image: url('../img/menu/locationHover.png');
		background-size: contain;
		height: 75px;
		width: 163px;
		background-repeat: no-repeat;
	}

	div.information
	{
		background-image: url('../img/menu/information.png');
		background-size: contain;
		cursor:pointer;
		height: 75px;
		width: 208px;
		background-repeat: no-repeat;
		/*width: 19.47%;*/
	}

	div.information:hover, div.informationHover, div.information-active
	{
		background-image: url('../img/menu/informationHover.png');
		background-size: contain;
		height: 75px;
		width: 208px;
		background-repeat: no-repeat;
		/*width: 19.47%;*/
	}

	div.gallery
	{
		background-image: url('../img/menu/gallery.png');
		background-size: contain;
		cursor:pointer;
		height: 75px;
		width: 144px;
		background-repeat: no-repeat;
	}

	div.gallery:hover, div.galleryHover, div.gallery-active
	{
		background-image: url('../img/menu/galleryHover.png');
		background-size: contain;
		height: 75px;
		width: 144px;
		background-repeat: no-repeat;
	}

	div.tickets
	{
		background-image: url('../img/menu/tickets.png');
		background-size: contain;
		cursor:pointer;
		height: 75px;
		width: 131px;
		background-repeat: no-repeat;
	}

	div.tickets:hover, div.ticketsHover, div.tickets-active
	{
		background-image: url('../img/menu/ticketsHover.png');
		background-size: contain;
		height: 75px;
		width: 131px;
		background-repeat: no-repeat;
	}

	div.countdown
	{
		font-family: "Text Custom Font", Verdana, Tahoma;
		color: #46ff03;
		font-weight: bold;
		font-size: 1.2vw;
		background-size: contain;
		margin-top: 25px;
		height: 75px;
		width: 159px;
		background-repeat: no-repeat;
		transition: all 1s ease-in-out;
	}
	
	div.turnToZNALogo
	{
		cursor:pointer;
		height: 75px;
		width: 139px;
	}
}  

@media screen and (max-width: 1439px) { 
	div.separador
	{
		background-image: url('../img/menu/separador.png');
		display:inline-block;
		background-position: center;
		height: 60px;
		width: 6px;
		background-repeat: no-repeat;
	}
	
    div.concept
	{
		background-image: url('../img/menu/concept.png');
		max-width:17,85%;
		background-size: contain;
		cursor:pointer;
		height: 60px;
		width: 117px;
		background-repeat: no-repeat;
	}

	div.concept:hover, div.conceptHover, div.concept-active
	{
		background-image: url('../img/menu/conceptHover.png');
		max-height:12,01%;
		max-width:17,85%;
		background-size: contain;
		height: 60px;
		width: 117px;
		background-repeat: no-repeat;
	}

	div.program
	{
		background-image: url('../img/menu/program.png');
		background-size: contain;
		cursor:pointer;
		height: 60px;
		width: 130px;
		background-repeat: no-repeat;
	}

	div.program:hover, div.programHover, div.program-active
	{
		background-image: url('../img/menu/programHover.png');
		background-size: contain;
		height: 60px;
		width: 130px;
		background-repeat: no-repeat;
	}
	
	div.location
	{
		background-image: url('../img/menu/location.png');
		background-size: contain;
		cursor:pointer;
		height: 60px;
		width: 130px;
		background-repeat: no-repeat;
	}

	div.location:hover, div.locationHover, div.location-active
	{
		background-image: url('../img/menu/locationHover.png');
		background-size: contain;
		height: 60px;
		width: 130px;
		background-repeat: no-repeat;
	}

	div.information
	{
		background-image: url('../img/menu/information.png');
		background-size: contain;
		cursor:pointer;
		height: 60px;
		width: 166px;
		background-repeat: no-repeat;
		/*width: 19.47%;*/
	}

	div.information:hover, div.informationHover, div.information-active
	{
		background-image: url('../img/menu/informationHover.png');
		background-size: contain;
		height: 60px;
		width: 166px;
		background-repeat: no-repeat;
		/*width: 19.47%;*/
	}

	div.gallery
	{
		background-image: url('../img/menu/gallery.png');
		background-size: contain;
		cursor:pointer;
		height: 60px;
		width: 115px;
		background-repeat: no-repeat;
	}

	div.gallery:hover, div.galleryHover, div.gallery-active
	{
		background-image: url('../img/menu/galleryHover.png');
		background-size: contain;
		height: 60px;
		width: 115px;
		background-repeat: no-repeat;
	}

	div.tickets
	{
		background-image: url('../img/menu/tickets.png');
		background-size: contain;
		cursor:pointer;
		height: 60px;
		width: 105px;
		background-repeat: no-repeat;
	}

	div.tickets:hover, div.ticketsHover, div.tickets-active
	{
		background-image: url('../img/menu/ticketsHover.png');
		background-size: contain;
		height: 60px;
		width: 105px;
		background-repeat: no-repeat;
	}

	div.countdown
	{
		font-family: "Text Custom Font", Verdana, Tahoma;
		color: #46ff03;
		font-weight: bold;
		font-size: 1.1vw;
		background-size: contain;
		margin-top: 20px;
		height: 60px;
		width: 131px;
		background-repeat: no-repeat;
		transition: all 1s ease-in-out;
	}
	
	
	div.turnToZNALogo
	{
		cursor:pointer;
		height: 60px;
		width: 111px;
	}
}




